/*---------------------------------------
    general     
-----------------------------------------*/

body{
  background-color: #ffffff;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
}

/*---------------------------------------
    navigation bar          
-----------------------------------------*/
.navbar{
  color: #1f1f1f;
}

.nav-link, .navbar-brand{
  color: black;
  cursor: pointer;
}

.nav-link{
  margin-left: 1em !important;
}

.navbar-brand{
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
}

.navbar-brand:hover{
  color: inherit;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link:hover {
  color: #cc8800;
}

.nav-item-active {
  text-decoration-line: line-through;
}

.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*---------------------------------------
  introduction        
-----------------------------------------*/

#intro{
  padding-top: 9%;
  background: #ECECEC;
}

#intro-text{
  padding-top: 15%;
}

#drawing{
  width: 100%;
}

#portfolio-link{
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: underline;
}

#portfolio-link:hover{
  color: #cc8800;
}

#flower-decor{
  margin-top: -12.5%;
}

#flowers{
  position: relative;
  max-width: 100%;
  z-index: 1;
}

/*---------------------------------------
  portfolio        
-----------------------------------------*/
#portfolio{
  padding-top: 10%;
}

#portfolio-section-1{
  background: #EDE8F7;
}

#portfolio-section-2{
  background: #D9A679;
}

#portfolio-section-3{
  background: #BFCDCD;
}

#desktop-bunbun{
  width: 100%;
}

/*---------------------------------------
  about me       
-----------------------------------------*/

#about-me{
  padding-top: 10%;
}

#about-img{
  width: 100%;
}

#collage{
  padding-top: 10%;
}

#collage-img{
  width: 100%;
}

/*---------------------------------------
 play       
-----------------------------------------*/

#play-intro{
  padding-top: 12%;
  background: #ECECEC;
}

#play-text{
  padding-left: 20%;
  padding-right: 20%;
}

#flower-decor-play{
  padding-top: 3%;
}

#gallery{
  margin-top: 5%;
}

#gallery img{
  margin: 5%;
  width: 90%;
}

/*---------------------------------------
 footer        
-----------------------------------------*/

.page-footer{
  font-size: 1em;
  font-family: 'Karla', sans-serif;
}

.footer-copyright{
  padding-bottom: 1%;
}

#verse{
  padding-top: 15%;
}


/*---------------------------------------
scrolling
-----------------------------------------*/

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
