/*---------------------------------------
    general     
-----------------------------------------*/

body{
  position: relative;
  background-color: #ffffff;
  font-size: 1em;
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
  padding-bottom: 10%;
}

/*---------------------------------------
    navigation bar          
-----------------------------------------*/
.navbar{
  color: #1f1f1f;
}

.nav-link, .navbar-brand{
  color: black;
  cursor: pointer;
}

.nav-link{
  margin-left: 1em !important;
}

.nav-item-active{
  text-decoration: line-through;
}

.navbar-brand{
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
}

.navbar-brand:hover{
  color: inherit;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link:hover {
  color: #cc8800;
}

.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*---------------------------------------
  introduction        
-----------------------------------------*/

#home{
  margin-top: 60px;
  background: #ECECEC;
}

#intro-text{
  padding-top: 15%;
  padding-bottom: 15%;
}

#intro-text h1{
  font-family: 'DM Serif Text', serif;
}

#drawing{
  max-width: 100%;
}

#portfolio-link{
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 15%;
}

#portfolio-link:hover{
  color: #cc8800;
}

#flower-decor{
  margin-top: -12%;
}

#flowers{
  position: relative;
  max-width: 100%;
}

/*---------------------------------------
  portfolio        
-----------------------------------------*/
.portfolio{
  padding-top: 15%;
}

#portfolio-section-1{
  margin: 0;
}

.projtitle{
  text-decoration: none;
  color: #1f1f1f;
}

.projtitle:hover{
  text-decoration: none;
  color: #1f1f1f;
}

#buntitle{
  border-bottom: 8px solid #cfdbc5;
  width: 230px;
}

#buntitle.hvr-sweep-to-top:before{
  background: #cfdbc5;
}

#fttitle{
  border-bottom: 8px solid #EDE8F7;
  width: 325px;
}

#fttitle.hvr-sweep-to-top:before{
  background: #EDE8F7;
}

#schooltitle{
  border-bottom: 8px solid #f3d7ca;
  width: 345px;
}

#schooltitle.hvr-sweep-to-top:before{
  background: #f3d7ca;
}

.proj-desc{
  margin-top: 6%;
  padding-left: 5%;
}

.proj-desc h3{
  font-family: 'DM Serif Text', serif;
}

.proj-link{
  text-decoration: underline;
}

#portfolio-section-3{
  background: #BFCDCD;
}

#desktop-bunbun{
  width: 100%;
}

/*---------------------------------------
  about me       
-----------------------------------------*/

#about-me{
  padding-top: 10%;
}

#about-img{
  width: 90%;
}

#about-text{
  padding-left: 15%;
}

/*---------------------------------------
 play       
-----------------------------------------*/

#play-intro{
  padding-top: 15%;
  background: #ECECEC;
}

#play-text{
  padding-left: 20%;
  padding-right: 20%;
}

#flower-decor-play{
  padding-top: 3%;
}

#gallery{
  margin-top: 5%;
}

#gallery img{
  margin: 5%;
  width: 90%;
}

/*---------------------------------------
resume       
-----------------------------------------*/

#resume-req{
  padding-top: 20%;
}

.email{
  color: #cc8800;
}

.email:hover{
  color: #cc8800;
}

#full-page{
  height: 75vh;
}

/*---------------------------------------
 footer        
-----------------------------------------*/

.footer{
  font-size: 1em;
  font-family: 'Karla', sans-serif;
  position: absolute;
  bottom: 2.5%;
  width: 100%;
}

.fa{
  text-align: center;
  font-size: 20px;
  padding-left: 5px;
  text-decoration: none;
  color: #1f1f1f;
}

.fa:hover {
  text-decoration: none;
  color: #cc8800;
}

/*---------------------------------------
 animations       
-----------------------------------------*/

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cc8800;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

