/*---------------------------------------
    general     
-----------------------------------------*/

body{
  background-color: #ffffff;
  font-size: 16px;
  overflow-x: hidden;
}

/*---------------------------------------
    navigation bar          
-----------------------------------------*/
.navbar{
  color: #1f1f1f;
}

.nav-link, .navbar-brand{
  color: black;
  cursor: pointer;
}

.nav-link{
  margin-left: 1em !important;
}

.navbar-brand:hover{
  color: inherit;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link:hover {
  color: #cc8800;
}

.nav-item-active {
  text-decoration-line: line-through;
}

.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*---------------------------------------
  jumbotron         
-----------------------------------------*/

#intro{
  padding-top: 10%;
  background: #ECECEC;
}

#intro-text{
  padding-top: 15%;
}

#portfolio-link{
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: underline;
}

#portfolio-link:hover{
  color: #cc8800;
}

/*---------------------------------------
  portfolio        
-----------------------------------------*/
.portfolio{
  padding-top: 10%;
}

#portfolio-section-1{
  background: #D9A679;
}

#portfolio-section-2{
  background: #BF625A;
}
